/* Reset some default styles */
::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body {
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Allows wrapping for smaller screens */
}

.nav-left {
  margin-left: 40px;
}

.nav-left img {
    width: 70px;
    width: 10vw; /* Adjust width relative to viewport */
    max-width: 70px;
    height: auto;
}

/*
nav .profile-link {
    text-decoration: none;
    color: #be0202;
    font-weight: bold;
    margin: 0 10px;
}
    */

#suggestion-list {
    position: absolute;
    left: 5em;
    background-color: #fff;
    border: 3px solid #000000;
    width: 16em;
    display: none;
    margin-top: 2em;
    z-index: 20;
}

#suggestion-list li {
    padding: 0.1em;
    list-style-type: none;
    font-size: 1.4em;
    margin-bottom: 10px;
}

#suggestion-list li:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.dropdown a:hover {
    background-color: #f0f0f0;
}

.register-button {
    background-color: #A7991E;
    color: white;
    padding: 15px 40px;
    border: none;
    border-radius: 20px;
    margin-right: 40px;
    cursor: pointer;
}

.register-button:hover {
    background-color: #A7991E;
}

.nav-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

.nav-center input[type="text"] {
    width: 60vw; /* Adjust width to match design */
    max-width: 400px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    margin-left: 120px;
    border-radius: 24px;
    outline: none;
    transition: all 0.2s;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
}

.search-button img {
  width: 4vw;
  height: 4vw;
  max-width: 20px;
  max-height: 20px;
}

.suggestion-list {
    position: absolute;
    left: 5em;
    background-color: white;
    border: 3px solid black;
    width: 16em;
    display: none;
    margin-top: 2em;
    z-index: 20;
}

.suggestion-list li {
    padding: 0.1em;
    list-style-type: none;
    font-size: 1.4em;
    margin-bottom: 10px;
}

.suggestion-list li:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.nav-center button {
    margin-left: -3px;
    padding: 10px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
}

.nav-center input[type="text"]:focus {
    border-color: #3ea6ff;
    box-shadow: 0 0 8px rgba(62, 166, 255, 0.8);
}

.nav-center button {
    margin-left: -3px;
    padding: 10px 20px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    position: relative;
    right: 70px;
}

.nav-center button img {
    width: 20px;
    height: 20px;
    opacity: 60%;
}


/* Challenge-containter table*/
.challenge-container table {
  width: 100%;
  border-collapse: collapse;
}

.challenge-container td {
  padding: 10px;
  vertical-align: middle;
  border-bottom: 1px solid #f0f0f0;
}

.challenge-container td:first-child {
  width: 70%; /* Adjust width as needed */
}

.challenge-container td:last-child {
  text-align: right;
}

.challenge-container table tr:hover {
  background-color: #f4f4f4;
  cursor: pointer;
}

/*challenge section*/

.challenge-section {
  position: fixed;
  left: 10px;
  top: 120px; /* Adjust based on header height */
  width: 100%;
  max-width: 330px;
  height: 40vh; /* Takes 80% of viewport height */
  background-color: #ffffff;
  border: 2px solid #A7991E;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* Prevent overflow */
  border-radius: 25px;
}

.challenge-container {
  height: 100%;
  overflow-y: scroll; /* Enables vertical scrolling */
}

.challenge-section h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #A7991E;
}

.challenge-title {
  font-size: 18px;
}

.go-button {
  background-color: #fff;
  color: #A7991E;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  border-color: #A7991E;
}

.go-button:hover {
  background-color: #A7991E;
}

/*challenges-filter */

.challenge-filter-section {
  position: fixed;
  left: 10px;
  top: 467px; /* Adjust based on header height */
  width: 100%;
  max-width: 330px;
  height: 30vh; /* Takes 80% of viewport height */
  background-color: #ffffff;
  border: 2px solid #A7991E;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* Prevent overflow */
  border-radius: 25px;
}

.challenge-filter-section h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #A7991E;
}


.post-container {
  display: flex; /* Use flexbox for alignment */
  flex-direction: column; /* Stack posts vertically */
  overflow: hidden;
}


.post-challenge {
  display: flex; /* Use flexbox for post alignment */
  margin-bottom: 15px; /* Space between posts */
  border: 1px solid #ddd; /* Border for each post */
  border-radius: 5px; /* Rounded corners */
  overflow: hidden; /* Prevent overflow */
}

.post-challenge img {
  width: 100%; /* Fixed width for images */
  height: 100%; /* Fixed height for images */
  object-fit: cover; /* Maintain aspect ratio */
}

.post-challenge p {
  margin: 0; /* Remove default margins */
  padding: 10px; /* Padding for text */
}

/*Post section */

.top-post {
    transition: transform 0.3s ease-in-out;
    position: relative;
    top: 40px;
    z-index: 1; /* Bring the top post to the front */
    cursor: pointer;
}

.bottom-post {
    transition: transform 0.3s ease-in-out;
    position: relative;
    left: 30px;
    bottom: 150px;
    z-index: 2;
    cursor: pointer;
}

.post-section {
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

.post {
    background-color: #ffffff;
    border-radius: 8px;
    max-width: 500px; /* Reduced the width */
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}

.postfeed-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(900px, 1fr));
  grid-column-gap: 100px;
  margin-top: 20px;
  overflow-y: auto; /* Enables vertical scrolling */
  overflow-x: hidden; /* Disables horizontal scrolling */
  margin-left: 460px;    
}

.top-post:hover {
    transform: scale(1.05);
}

.bottom-post:hover {
    transform: scale(1.05);
}

.post img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 250px;
    border-bottom: 1px solid #ddd;
    border-radius: 8px;
    object-fit: cover;
}

.post-actions {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: absolute;
    gap: 10px; /* Adds space between buttons */
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
    z-index: 3;
    align-items: center;
}

.profile-button {
  transition: transform 0.3s ease-in-out;
  position: relative;
  right: 15px;
  top: 275px;
  background-color: white;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  cursor: pointer;
  font-size: 1rem;
  width: 59px;
  height: 66px;
}

.profile-button-img {
    object-fit: fill;
    margin-right: 8px; /* Adds space between icon and text */

}

.profile-button:hover {
  transform: scale(1.10);
}

/* View post window */
/* Modal Styling */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.87);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    height: 100%;
    background-color: transparent; /* Make modal-content transparent to see the backdrop */
    position: relative;
}

.close {
    position: fixed;
    top: 10px;
    left: 25px;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1002; /* Ensure it stays on top of everything */
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    background-color: transparent; /* Make background transparent */
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-y: auto;
    box-sizing: border-box;
}


.modal-content {
    display: none;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.modal-content .close {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content h2 {
    margin-bottom: 20px;
}

textarea {
    width: 74%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    margin: 20px;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.modal-buttons button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-buttons button[type="submit"] {
    background-color: #A7991E;
    color: white;
}

.modal-buttons button[type="submit"]:hover {
    background-color: #A7991E;
}

.modal-buttons button[type="button"] {
    background-color: #ccc;
    color: black;
}

.modal-buttons button[type="button"]:hover {
    background-color: #bbb;
}
#postModal{
    display: none;
}

.modalpost-image{
  margin-top: 25px;
  max-width: 1000px;
}

.modal-profile-button{
    transition: transform 0.3s ease-in-out;
    margin-top: 90px;
    position: absolute;
    left: 80px;
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.profile-button img {
  object-fit: fill;
}

.profile-button:hover {
transform: scale(1.10);
}

/* Register CSS */

/* Modal background */
#registerModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Modal background */
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  /* Modal container */
  .modal-container {
    background-color: #A7991E; /* Mustard yellow */
    padding: 20px;
    border-radius: 40px;
    width: 800px; /* Smaller width */
    height: 550px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    text-align: center;
    align-content: center;
    margin-top: 60px;
    margin-left: 341px;
  }

  .register-heading{
    top: 10px;
    color: black;
    font-size: 24px;
  }


  .Form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
  
  /* Close button */
  .close {
    position: absolute;
    top: 10px;
    color: black;
    font-size: 24px;
    cursor: pointer;
  } 
  
  /* Form styling */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }
  
  .input-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .input-group input {
    width: 48%; /* Make name and last name side by side */
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 73%;
    padding: 10px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }

  /* Input fields styling */
  .input-group {
    display: flex;
    justify-content: space-between;
    width: 80%;

  }
 
  /* Submit button */
  button[type="submit"] {
    padding: 10px 20px;
    background-color: white; /* Match button style */
    color: black;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  
  button[type="submit"]:hover {
    background-color: #ddd; /* Hover effect */
  }
  
  /* Heading styling */
  h2 {
    color: black;
    margin-bottom: 20px;
  }





/*
 ProfileSetup Modal
  /* Modal background *
#profileSetupModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Modal background *
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Modal container */
    .profilesetupmodal-container {
      background-color: #a7922f; /* Mustard yellow */
      padding: 20px;
      border-radius: 40px;
      width: 800px; /* Smaller width */
      height: 640px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      position: absolute;
      text-align: center;
      align-content: center;
      left: 345px;
      top: 30px;
  }
  
  
  /* Close button *
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: black;
    font-size: 24px;
    cursor: pointer;
  }
  
  /* Form styling *
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Profile Image Placeholder *
  .profile-image-container {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .profile-image-placeholder {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    line-height: 80px;
    font-size: 14px;
    color: black;
  }
  
  /* Input fields styling *
  .input-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .input-group input {
    width: 48%; /* For PROFILE NAME and FULL NAME *
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  textarea {
    resize: none;
  }
  
  /* Submit button *
  button[type="submit"] {
    padding: 10px 20px;
    background-color: white; /* Match button style *
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #ddd; /* Hover effect *
  }
  
  /* Heading styling *
  h2 {
    color: black;
    margin-bottom: 20px;
  }
*/


/*footer*/
.footer {
    background-color: #fff;
    color: #a7922f;
    padding: 20px;
    text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.footer-content img{
  width: 10%;
  margin: auto;
}