/* Reset some default styles */
body, h3, h4, h5, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fafafa;
    color: #333;
    position: relative;
}

header {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    position: static;
    top: 0;
    z-index: 1000;
}
.modal{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: lightgray;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
    background-color: white;
    color: white;
    padding: 10px 20px;
}


.nav-left {
    margin-left: 40px;
  }
  
  .nav-left img {
      width: 70px;
  }

.nav-right {
    display: flex;
    align-items: center;
    margin-right: 4px;
}

.nav-center {
    color: #A7991E;
    font-size: 15px;
}

.title {
    font-weight: bold;
    margin-left: 185px;
}

.push-button, .upload-button {
    margin-right: 20px;
    padding: 15px 40px;
    background-color: #A7991E;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 20px;
}


/* Profile Header Section */
.profile-header {
    display: flex;
    justify-content: space-between;
    height: 340px;
}

/* User Info */
.user-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
     background-color: #fff;
    padding: 70px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 180px;
    text-align: center;
}

.user-info h1 {
    font-size: 2rem;
    margin: 0;
}

.user-info .short-bio {
    font-size: 1rem;
    color: #666;
    margin-top: 10px;
}

/* Profile Image Container */
.profile-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.profile-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

/* Long Bio Section */
.long-bio-section {
    display: flex;
    justify-content: center;
    padding: 40px;
    margin: 90px;
}

.long-bio-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    height: 180px;
    align-content: center;
}

.long-bio {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #333;
    text-align: center;
}

/* Post Section */
.posts-section {
    padding: 20px;
    margin: 55px;
}

.posts-container {
    display: flex;
    justify-content: flex-start;
}

.personal-post-image {
    width: 313px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-more-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.contact-info {
    text-align: left;
}

.contact-info p {
    margin-bottom: 5px;
}

.contact-info ul {
    list-style: none;
    padding-left: 0;
}

.contact-info li {
    margin-bottom: 5px;
}
.templateSelection{
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    margin: 2em 0 2em;
}
.addTemplate{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
}
.uploadTemplateForm{
    height: 10em;
    padding: 1em;
}
.templateItemHolder{
    padding: 1em;
    border: 0.1em solid beige;
}
.templateFileHolder{
    display: none;
    height: 9em;
    border: 0.1em solid beige;
}
.closeWindow{
    padding: 0.1em;
    font-size: 1.4em;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.closeWindow:hover{
    background-color: gray;
}
#templateFiles{
    height: 12em;
    width: 17em;
    background-color: whitesmoke;
    border: 0.1em solid black;
}