@media screen and (max-width: 868px) {
    html,body{
     overflow-y: scroll;
     position: relative;
     width: 100%;
    }
     
    body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
     margin: 0;
     padding: 0;
     font-weight: normal;
   }
   
   body {
     font-family: 'Inter', sans-serif;
     font-size: 16px;
     line-height: 1.6;
     background-color: #f4f4f4;
     color: #333;
     overflow-x: hidden;
   }


}