<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/Cssfiles/Editpersonalprofile.css" />
    <title>Nerstia Profile</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-left">
        <a href="/" class="home-link">
          <img src="/Image/Home Icon.png" alt="Home" />
        </a>
      </div>
      <div class="nav-right">
        <button
          class="push-button"
          onclick="window.location.href='/Htmlfiles/Personalprofile.html'"
        >
          Push
        </button>
      
          <div class="hamburger-menu">
            ☰
            <div class="dropdown">
              <a href="/settings">
                <img src="/Image/Settings.png" alt="Settings" />
              </a>
              <a href="/category">
                <img src="/Image/Categorize.png" alt="Categories" />
              </a>
              <a href="/registration">
                <img src="/Image/Registration.png" alt="Registration" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="control-panel left">
        <!-- Drag and Drop Elements -->
        <h3>Drag 